<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355619524544-lanupai5loi88g62dl9i0v5a9g8j1i8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355619524544-lanupai5loi88g62dl9i0v5a9g8j1i8q</string>
	<key>API_KEY</key>
	<string>AIzaSyDP7p6Y_i9Dkf_JId41Ql6IlRWQYQFF0EY</string>
	<key>GCM_SENDER_ID</key>
	<string>355619524544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spediter</string>
	<key>PROJECT_ID</key>
	<string>espediter-e1b18</string>
	<key>STORAGE_BUCKET</key>
	<string>espediter-e1b18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355619524544:ios:882604cca585e895b30225</string>
	<key>DATABASE_URL</key>
	<string>https://espediter-e1b18.firebaseio.com</string>
</dict>
</plist>